h3 {
  color: var(--color-main);
  margin-bottom: 16px;
}

p.hint {
  color: var(--color-light-gray);
  font-size: 0.75rem;
  margin-bottom: 16px;
}

.error-message {
  margin-bottom: 8px;
}

.error-message p {
  color: var(--color-dangerous);
  margin: 0;
}

.passwords-match-error .inputs-container input,
.password-validate-error .inputs-container input {
  border: 1px solid var(--color-dangerous);
}

.passwords-match-error .inputs-container > :nth-child(1) input,
.password-validate-error .inputs-container > :nth-child(1) input {
  border: none;
}

.old-password-error .inputs-container > :nth-child(1) input {
  border: 1px solid var(--color-dangerous);
}
