header {
  padding: 10px 48px;
  border-bottom: 1px solid var(--color-dark-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-white);
  position: relative;
  z-index: 1000;
}

.logo {
  color: var(--color-main);
  font-size: 1.5rem;
  font-weight: 600;
}

.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: var(--color-dark-white);
  padding: 6px;
}

html:has(.blur-overlay) {
  overflow: hidden;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(17, 17, 17, 0.05);
  z-index: 999;
  pointer-events: none;
}

.link {
  padding: 7px 15px;
  border-radius: var(--radius-M);
  background: var(--color-dark-white);
  color: var(--color-main);
  font-weight: 600;
}
